
.Welcome{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:#00d0c3;
    height: 400px;
    width: 100%;
    font-size: 25px;
    color: white;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #232323;
    flex-direction: row nowrap;
}

.article{
    color: white;
    width: 200px;
    text-align: center;
}

.flexitem{
    display:flex;
    width: 200px;
    justify-content:space-around;
    flex-direction:column;
    text-align: center;
    color: white;
}

article:nth-child(1){
    border-top: 35px solid #00aade;
    display: flex;
    align-items: center;
}
article:nth-child(2){
    display: flex;
    align-items: center;
    border-top:35px solid #ff5c17;
}
article:nth-child(3){
    display: flex;
    align-items: center;
    border-top: 35px solid #00d0c3;
}
h2{
    /* display: flex; */
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p{
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/*landscape phone*/
@media only screen and (max-width: 600px) {
    #container {
        background-color:white;
        /* flex-direction: wrap; */
    }
    .Welcome{
        text-align: left;
        padding-left: 30px;
    }
    .flex-container{
        /* flex-wrap: wrap; */
        /* flex: 25%; */
        padding: 25;
        height: 900px;
        background-color: white;
        flex-direction: column;
        font color: black;
    }
    h2{
        color: black;
    }
    p{
        color: black;
    }
}
